<%= form_for(@flashcard) do |f| %>
<div class="col-md-6 col-md-offset-3">
<%= f.label :front, 'back' %><br>
  <%= f.text_field :front, class: 'form-control' %>
  
  <%= f.label :back, 'back' %><br>
  <%= f.text_field :back, class: 'form-control' %>
  
  <%= f.submit 'update flashcard', class: 'btn btn-default' %></div>
  <% end %>
