<%= provide(:title, "new card") %>
<h1> new card</h1>

<%= form_for(@flashcard) do |f| %>
  <%= f.label :front %>
  <%= f.text_field :front%>

  <%= f.label :back %>
  <%= f.email_field :back%>

  <%= f.submit "create card", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', flashcards_path %>
